In [0]:
import pandas as pd
from fbprophet import Prophet 
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 

df = pd.read_csv('https://raw.githubusercontent.com/danielcaraway/data/master/Zip_Zhvi_SingleFamilyResidence.csv', encoding='latin')

df

       RegionID  RegionName            City  ...  2019-10  2019-11  2019-12
0         61639       10025        New York  ...  1358401  1350481  1345845
1         84654       60657         Chicago  ...   948136   946838   945928
2         61637       10023        New York  ...  1468075  1454870  1438313
3         91982       77494            Katy  ...   334460   334679   334309
4         84616       60614         Chicago  ...  1179024  1175407  1174008
...         ...         ...             ...  ...      ...      ...      ...
30429     66169       20052      Washington  ...  1357142  1376132  1383939
30430     67023       21759          Keymar  ...   212417   206543   201415
30431     67346       22649      Middletown  ...   233229   233064   232049
30432     60206        6230  Pomfret Center  ...   260057   258609   259024
30433     76819       43738       Fultonham  ...    56776    57995    59235

[30434 rows x 292 columns]

In [0]:
states = df.groupby('State')[]

SyntaxError: ignored

In [0]:
to_drop = "1996-04	1996-05	1996-06	1996-07	1996-08	1996-09	1996-10	1996-11	1996-12".split()
df_97 = df.drop(to_drop, axis=1)
df_97_nona = df_97.dropna(subset=['1997-01'])
len(df_97_nona)

In [0]:
df = df_97_nona.copy()
columns = df.columns[:7].values
region_reference = pd.DataFrame(data=df, columns=columns)
to_drop = ['RegionID',
 'City',
 'State',
 'Metro',
 'CountyName',
 'SizeRank']
just_numbers = df.drop(to_drop, axis=1)
df_t = just_numbers.set_index('RegionName').T
df_t.reset_index(inplace=True)
df_t['year'] = df_t.apply(lambda x: x['index'].split('-')[0], axis=1)
by_year = pd.DataFrame(df_t.groupby('year').mean())
by_year_t = by_year.reset_index()
by_year_t['year'] = by_year_t['year'].astype('datetime64[ns]') 
by_year_t.set_index('year', inplace=True)
by_year_t2 = by_year_t.T
by_year_t2.reset_index(inplace=True)

In [0]:
# by_year_t2.to_csv('only_year.csv')
by_year_t2.set_index('RegionName',inplace = True)

In [0]:
by_year_t2.T.to_csv('only_year_t.csv')

In [0]:
from google.colab import files
# df.to_csv('filename.csv') 
files.download('only_year.csv')

In [0]:
files.download('only_year_t.csv')

In [0]:
df = by_year_t2.copy()
df_sm = df[:5]
zip_table = []
def get_prophet_predictions(row):
  mini = pd.DataFrame(row)
  mini['ds'] = row.index
  mini['y'] = row.values
  df = mini.iloc[1:]

  m = Prophet()
  m.fit(df)
  invest_price = df.tail(1)
  future = m.make_future_dataframe(periods=60, freq='M')
  fcst = m.predict(future)
  sell_price = fcst.tail(1)

  roi = sell_price['trend'].values[0] - invest_price['y'].values[0]
  return pd.Series((fcst, roi))

In [0]:
df_sm[['forecast','roi']] = df_sm.apply(lambda x: get_prophet_predictions(x), axis=1)
# df[['forecast','roi']] = df.apply(lambda x: get_prophet_predictions(x), axis=1)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 16.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 16.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 16.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 16.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 16.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 16.
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
# df.to_csv('prophet_df.csv')

In [0]:
zips_per_state = []
for state in set(df['State']):
  state_df = df[df['State'] == state]
  zips_per_state.append({ 'state': state, 'zips': len(state_df) })
  print(state, len(state_df))

In [0]:
pd.DataFrame(zips_per_state).to_csv('zips_per_state.csv')

In [0]:
def prep_data_for_prophet(df):
  columns = df.columns[:7].values
  to_drop = ['RegionID',
  'City',
  'State',
  'Metro',
  'CountyName',
  'SizeRank']
  just_numbers = df.drop(to_drop, axis=1)
  df_t = just_numbers.set_index('RegionName').T
  df_t.reset_index(inplace=True)
  df_t['year'] = df_t.apply(lambda x: x['index'].split('-')[0], axis=1)
  by_year = pd.DataFrame(df_t.groupby('year').mean())
  by_year_t = by_year.reset_index()
  by_year_t['year'] = by_year_t['year'].astype('datetime64[ns]') 
  by_year_t.set_index('year', inplace=True)
  by_year_t2 = by_year_t.T
  by_year_t2.reset_index(inplace=True)
  return by_year_t2

In [0]:
CA = prep_data_for_prophet(df[df['State'] == 'CA'])

In [0]:
def get_prophet_predictions(row):
  mini = pd.DataFrame(row)
  mini['ds'] = row.index
  mini['y'] = row.values
  df = mini.iloc[1:]

  m = Prophet()
  m.fit(df)
  invest_price = df.tail(1)
  future = m.make_future_dataframe(periods=60, freq='M')
  fcst = m.predict(future)
  sell_price = fcst.tail(1)

  roi = sell_price['trend'].values[0] - invest_price['y'].values[0]
  return pd.Series((fcst, roi))

In [0]:
CA[['forecast','roi']] = CA.apply(lambda x: get_prophet_predictions(x), axis=1)

In [0]:
CA

In [0]:
CA.to_csv('CA_nightfile.csv')

In [0]:
mine = CA[CA['RegionName'] == 90039]

In [0]:
mine['forecast'].values

In [0]:
oy = pd.read_csv('only_year.csv')

In [0]:
oy.drop

In [0]:
oy.set_index('RegionName')

In [0]:
oy.drop(oy.columns[0], axis=1,inplace=True)

In [0]:
# oy.set_index('RegionName', inplace=True)

KeyError: ignored

In [0]:
oy

            1997-01-01 00:00:00  ...  2019-01-01 00:00:00
RegionName                       ...
60657             378192.833333  ...         9.566285e+05
77494             209368.250000  ...         3.347144e+05
60614             573575.666667  ...         1.190550e+06
77449              97162.916667  ...         1.842622e+05
77084              96043.833333  ...         1.823445e+05
...                         ...  ...                  ...
89155             198409.750000  ...         3.763496e+05
55144              61082.666667  ...         2.051572e+05
4033              349591.500000  ...         8.266645e+05
86343              82564.083333  ...         1.622792e+05
2872              142758.333333  ...         2.556733e+05

[13916 rows x 23 columns]